// common classes
h1, h2, h3, h4, h5, h6, p, ol, li {padding: 0; margin: 0;}
ol, ul {list-style: none;}
a {text-decoration: none;}

.el-button {min-width: 282px; border-radius: 2px; background-color: #85c242; border: 1px solid #85c242; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2); padding: 14px 24px; font-size: 20px; font-weight: 600; color: #fff; display: inline-block; text-transform: uppercase; transition: .3s ease-in-out;
	span {
		&:first-child {width: calc(100% - 41px); display: inline-block;}
	}
	svg {fill: #fff; vertical-align: top;}
	&:hover {color: #85c242; background-color: transparent; 
		svg {fill: #85c242;}
	}
}
// /common classes

.timer {position: relative; background-image: linear-gradient(156deg, #0158ca, #094d9b); height: 100vh; padding: 30px 0;
	&:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 81px; background: #fff; max-height: 15vh;}
	&-wrap {display: flex; justify-content: space-between; align-items: flex-end; font-size: 20px; font-weight: 600; letter-spacing: 1.3px; color: #fff;
		h1, h2, h3 {font-size: 32px; font-weight: 600; color: #fff; margin-bottom: 20px;}
		a {margin-top: 15px;}
	}
	&-content {width: 100%; max-width: 480px; padding-bottom: 20px; opacity: 0; transition: .4s ease-in-out;
		&.active {opacity: 1;}
	}
	&-pic { width: 100%; max-width: calc(100% - 480px); height: 90vh; text-align: right;
		img {object-fit: contain; max-width: 100%; max-height: 100%;}
	}
	.time {padding-bottom: 20px; font-size: 14px; font-weight: 600; color: #ffffff; display: flex;
		span {text-align: center; width: 96px; height: 94px; border-radius: 2px; background-color: rgba(255,255,255,.1); display: flex; justify-content: center; align-items: center; font-size: 32px; font-weight: 600; color: #ffffff; border-bottom: 2px solid #fff; margin-bottom: 10px;
			&.disabled {color: rgba(255,255,255,.3);}
		}
		&-item {margin-right: 20px;}
	}
}