@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
	.timer { height: auto; max-height: auto;
		&-pic {width: 100%; max-width: 100%; text-align: center;}
	}
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){
	.timer { height: auto; max-height: auto;
		&:before {display: none;}
		&-wrap {flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: center; font-size: 18px;
			h1, h2, h3 {font-size: 30px;}
		}
		&-content {width: 100%;}
		&-pic {width: 100%; max-width: 100%; text-align: center; height: auto;}
		.time {
			span {width: 76px; height: 74px;}
			&-item {margin-right: 10px;}
		}
	}
}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}