<!-- SCRIPTS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- build:js scripts/validate_script.js -->

<!-- endbuild -->

<!-- build:js scripts/plagins.js -->
<script type="text/javascript" src="scripts/plagins/device.js" ></script>
    <!-- add you plagins js here -->

<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script type="text/javascript" src="scripts/basic_scripts.js" ></script>
<script type="text/javascript" src="scripts/develop/develop_1.js" ></script>
    <!-- add you develop js here -->
<!-- endbuild -->

<!-- /SCRIPTS -->
