//= partials/head.html

<div class="global-wrapper">
    <!-- MAIN -->
    <div class="main">
        <!-- add partials here -->
        <section class="timer">
        	<div class="mbox">
        		<div class="timer-wrap">
        			<div class="timer-content">
        				<h1>Time left</h1>
        				<div class="time">
							<div class="time-item hours"><span>00</span><p>hours</p></div>
							<div class="time-item min"><span>02</span><p>minutes</p></div>
							<div class="time-item sec"><span>28</span><p>seconds</p></div>
        				</div>
        				<p>I'm done putzing around. I'm ready to let the data guide my sales and have MerchLab 10X my print-on-demand empire.</p>
        				<a href="#" class="el-button">
        					<span>Let’s start</span>
        					<span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49; width: 34px; height: 19px;" xml:space="preserve" width="512px" height="512px"><path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z" fill="#FFFFFF"/><g></svg></span>
        				</a>
        			</div>
        			<div class="timer-pic"><img src="images/graph.png" alt=""></div>
        		</div>
        	</div>
        </section>
    </div>
    <!-- /MAIN -->

</div>

//= partials/scripts.html

</body>
</html>